* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: plain;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  cursor: none;
  overflow-x: hidden;
}

.cursor {
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 50%;
  border: 1px solid #727070;
  position: fixed;
  z-index: 99999999999;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

#loader {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: #0b0b0b;
  padding: 20vh 8vw;
}

.l-text h1 {
  height: fit-content;
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 500;
}

.l-text {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.3vw;
  line-height: 6vw;
}

.l-text:nth-child(1) {
  display: flex;
  gap: 5vw;
}

.last h1 {
  gap: 2vw;
  display: flex;
  align-items: center;
}

.l-text h1 span {
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 500;
  animation: anime 2s infinite;
  height: 7vw;
  display: flex;
  align-items: center;
}

@keyframes anime {
  0% {
    font-family: plain;
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    opacity: 1;
  }
  49% {
    font-family: plain;
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    opacity: 0;
  }
  50% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  100% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}

#l-count {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

#l-count h5,
h6 {
  font-size: 2.5vw;
  font-weight: 200;
  font-family: "silk serif";
  margin-bottom: 2.5vw;
}

#l-count h5 {
  width: 5vw;
  text-align: right;
}

#loader .l-msge {
  position: relative;
  left: 25%;
  top: 20%;
  line-height: 1.1vw;
}

.l-msge p {
  font-size: 1vw;
  font-weight: 300;
}

#main {
  position: relative;
  background-color: #151515;
}

#page1 {
  height: 100vh;
  width: 100%;
}

#page1 #navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.9vw 5.5vw;
  position: relative;
}

#navbar .logo {
  pointer-events: none;
  /* position: fixed; */
}

#navbar .nav-text {
  position: absolute;
  top: 42.5%;
  left: 28.5%;
  line-height: 1.1vw;
}

.nav-text p {
  font-size: 1vw;
  font-weight: 300;
}

#nav-option {
  display: flex;
  align-items: center;
  gap: 2.4vw;
}

#nav-option h4 {
  font-size: 1vw;
  font-weight: 300;
  text-transform: capitalize;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 72%;
  margin-left: 27%;
  height: fit-content;
  overflow: hidden;
}

.hero:nth-child(3) {
  margin-top: 17vh;
}

#page1 h2 {
  position: absolute;
  top: 31.2vh;
  left: 19%;
  font-size: 3.3vw;
  font-weight: 500;
  font-family: "silk serif";
  margin-left: -10px;
}

#page1 .hero h1 {
  font-size: 7.5vw;
  line-height: 7.7vw;
  text-transform: uppercase;
  font-weight: 500;
  height: fit-content;
}

.hero h1 span {
  display: inline-block;
  height: fit-content;
  border-bottom: 0.6vw solid #fff;
  margin-right: 0.3vw;
  position: relative;
  z-index: 99999;
}

.hero h1 span:hover {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  border-bottom: 0;
  transition: 0.2s ease;
}

.hero:nth-child(6) {
  margin-top: -0.8vw;
}

#page2 {
  height: 100vh;
  width: 100%;
  padding-top: 17vh;
  position: relative;
}

#v-container {
  height: 60vh;
  width: 72vw;
  position: relative;
  left: 28%;
  right: 0;
  background-image: url(/material/v-cover.jpg);
  background-size: cover;
}

/* #v-container img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
} */

#v-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}

#v-container #v-cursor {
  background-color: #ffa63d;
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  position: absolute;
  top:-0%;
  left: 68%;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 1;
  z-index: 9;
  transform: translate(-50%, -50%);

}

#v-cursor i {
  font-size: 2vw;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 4vw 4vw;
  margin-top: 5vw;
}

#page3 .p-num h2 {
  position: absolute;
  top: 8vh;
  left: 19%;
  font-size: 3.3vw;
  font-weight: 500;
  font-family: "silk serif";
  margin-left: -10px;
}

#page3 h1 {
  font-size: 7.5vw;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 27.5vw;
}


#page3 .underline {
  height: 2px;
  width: 66%;
  background-color: #dadada;
  margin: 5vw 0 3vw 0;
  margin-left: 27.5vw;
}

#page3 #p-content{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 4vw 0;
}

#page3 .projects{
  width: 32vw;
  height: 51vw;
  border-bottom: 1px solid #fff;
  margin-left: 2vw;
  position: relative;
}

.p-effect {
  position: relative;
  overflow: hidden;
  height: 5vh;
  width: 18vw;
}

.p-effect h2 {
  font-size: 2.5vw;
  font-weight: 500;
  position: absolute;
  transition: transform 0.6s ease, opacity 0.3s ease;
  opacity: 0;
}

.p-effect h2:nth-child(1) {
  transform: translateY(0);
  opacity: 1;
}

.p-effect h2:nth-child(2) {
  transform: translateY(40);
  opacity: 0;
}

#page3 .projects:nth-child(1){
  width: 23vw;
  height: 40vw;
}

#page3 .projects:nth-child(7){
  width: 23vw;
  height: 40vw;
  margin-top: -12vw;
  margin-right: 5vw;
}

#page3 .projects:nth-child(9){
  margin-top: 5vw;
}

#page3 .projects:nth-child(5){
  margin-top: 9vw ;
  width: 30vw;
  margin-left: 3vw;
}

.projects .img{
  width: 100%;
  height: 39vw;
  margin-top: 3vw;
  overflow: hidden;

}

#page3 .projects:nth-child(1) .img{
  width: 100%;
  height: 28vw;
  overflow: hidden;
}

#page3 .projects:nth-child(7) .img{
  width: 100%;
  height: 28vw;
  overflow: hidden;
}

.img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.projects .p-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects .p-text p{
  font-size: 1vw;
  font-weight: 300;
  width: 50%;
  margin: 2vw 0;
}

.p-text p:nth-child(2){
  text-align: right;
}

.p-circle{
  width: 22vw;
  height: 22vw;
  border-radius: 50%;
   border: 1px solid #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   left: 10%;
   margin-top: 26vw;
}

.p-circle svg{
  width: 6vw;
}

.p-circle2{
  width: 22vw;
  height: 22vw;
  border-radius: 50%;
   border: 1px solid #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
  margin-left: 2vw;
}

.p-circle2 svg{
  width: 6vw;
  rotate: -45deg;
}

.p-circle3{
  width: 22vw;
  height: 22vw;
  border-radius: 50%;
   border: 1px solid #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
  margin-top: 30vw;
  margin-left: 6vw;
}

.p-circle3 svg{
  width: 6vw;
  rotate: -90deg;
}

.c-bubble{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  scale: 0;
  transition: all ease 0.2s;
}

.c-bubble p{
  color: #000;
  font-size: 0.9vw;
  font-weight:400 ;
  padding: 0 1.5vw;
  scale: 0;
  transition: all ease 0.2s;
  transition-delay: 0.3s;
}

.p-circle:hover .c-bubble{
  scale: 1;
}

.p-circle:hover .c-bubble p{
  scale: 1;
}

.p-circle2:hover .c-bubble{
  scale: 1;
}

.p-circle2:hover .c-bubble p{
  scale: 1;
}

.p-circle3:hover .c-bubble{
  scale: 1;
}

.p-circle3:hover .c-bubble p{
  scale: 1;
}


.p-circle4{
  width: 22vw;
  height: 22vw;
  border-radius: 50%;
  background-color: #ffa63d;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   left: 39%;
   margin: 8vw 0 15vw;;
  transition: all ease 0.5s;

}

.p-circle4 p{
  font-size: 1vw;
  font-weight: 400;
}

.p-circle4 p span{
  font-family: 'silk serif';
}

.p-circle4:hover{
  transform: scale(90%,90%) ;
  transition: all ease 0.2s;
}

#page4 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding-top: 5vh;
}

#page4 h2 {
  position: absolute;
  top: 6.2vh;
  left: 19%;
  font-size: 3.3vw;
  font-weight: 500;
  font-family: "silk serif";
  margin-left: -10px;
}

#about {
  width: 72vw;
  position: relative;
  left: 27.1%;
}

#about h1 {
  font-size: 7.5vw;
  font-weight: 500;
  text-transform: uppercase;
}

#about .underline {
  height: 2px;
  width: 92%;
  background-color: #dadada;
  margin: 5vw 0 3vw 0;
}

#about > p {
  font-size: 2.3vw;
  font-weight: 400;
  width: 53%;
  margin-bottom: 4.5vw;
}

#about #a-img {
  display: flex;
}

#a-img img {
  width: 47%;
}

#a-img p {
  font-size: 1vw;
  width: 25.8%;
  line-height: 1.5vw;
  margin-left: 1.7vw;
}

#about .a-award {
  background-color: #3f7df4;
  width: 32vw;
  height: 75vh;
  padding-top: 3.4vw;
  position: absolute;
  top: 55%;
  left: 32%;
}

.a-award .award {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5vw 0;
  border-bottom: 1px solid #fff;
  width: 75%;
  margin: 0 12%;
}

#about .a-award .award h1 {
  font-size: 1.2vw;
}

#about .a-award .award p {
  font-size: 0.95vw;
  width: 40%;
  margin-right: 0.5vw;
}

#about #a-bottomLine {
  margin-top: 65vh;
}

#about #a-bottomLine p {
  font-size: 1vw;
  margin-top: -1vw;
}

/*  */

#page5 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 6vw 0;
}

#page5 .slider {
  white-space: nowrap;
  overflow-x: hidden;
  margin-top: -2.5vw;
}

#page5 .slider h1 {
  font-size: 7.5vw;
  font-weight: 500;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  text-transform: uppercase;
  display: inline-block;
  transform: translateX(0);
  animation: slider 20s linear infinite;
}

.slider span {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-family: "silk serif";
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

#page5 .slider2 {
  white-space: nowrap;
  overflow-x: hidden;
  margin-top: -2.5vw;
}

#page5 .slider2 h1 {
  font-size: 7vw;
  font-weight: 500;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  text-transform: uppercase;
  display: inline-block;
  transform: translateX(-100%);
  animation: slider 20s linear infinite;
  animation-direction: reverse;
}

.slider2 span {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-family: "silk serif";
}

#footer {
  min-height: 90vh;
  width: 100%;
  position: relative;
  padding: 2vw 0;
  padding-left: 27.5vw;
}

#footer h2 {
  position: absolute;
  top: 4vh;
  left: 19%;
  font-size: 3.3vw;
  font-weight: 500;
  font-family: "silk serif";
  margin-left: -10px;
}

#footer h1 {
  width: 60vw;
  font-size: 7.5vw;
  font-weight: 500;
  text-transform: uppercase;
}

#footer .underline {
  height: 1px;
  width: 94%;
  background-color: #fff;
  margin: 4vw 0;
}

#f-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 4vw 0;
  padding-right: 11vw;
}

#f-content .details:nth-child(3) h6 {
  text-decoration: underline;
}

#f-content .details h5 {
  font-size: 1vw;
  margin-bottom: 1.6vw;
}

#f-content .details h6 {
  font-family: plain;
  font-weight: 300;
  font-size: 1.7vw;
  line-height: 1.8vw;
  margin: 0;
}

/* footer hover effect  */

.details {
  position: relative;
}

.h-effect {
  position: relative;
  overflow: hidden;
  height: 3.3vh;
  width: 15vw;
}

.social-item {
  position: absolute;
  transition: transform 0.6s ease, opacity 0.3s ease;
  opacity: 0;
}

.social-item:nth-child(1) {
  transform: translateY(0);
  opacity: 1;
}

.social-item:nth-child(2) {
  transform: translateY(40);
  opacity: 0;
}

#footer > h5 {
  font-size: 1vw;
  font-weight: 500;
  margin-top: -1.5vw;
}

._canvas_container{
  z-index: 9999999 !important;
}