* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: plain;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  cursor: none;
}

.cursor{
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 50%;
  border: 1px solid #727070;
  position: fixed;
  z-index: 999;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  pointer-events: none;
}


#loader {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: #0b0b0b;
  padding: 20vh 8vw;
}

.l-text h1 {
  height: fit-content;
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 500;
}

.l-text {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.3vw;
  line-height: 6vw;
}

.l-text:nth-child(1) {
  display: flex;
  gap: 5vw;
}

.last h1 {
  gap: 2vw;
  display: flex;
  align-items: center;
}

.l-text h1 span {
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 500;
  animation: anime 2s infinite;
  height: 7vw;
  display: flex;
  align-items: center;
}

@keyframes anime {
  0% {
    font-family: plain;
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    opacity: 1;
  }
  49% {
    font-family: plain;
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    opacity: 0;
  }
  50% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  100% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}

#l-count {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

#l-count h5,
h6 {
  font-size: 2.5vw;
  font-weight: 200;
  font-family: "silk serif";
  margin-bottom: 2.5vw;
}

#l-count h5 {
  width: 5vw;
  text-align: right;
}

#loader .l-msge{
  position: relative;
  left: 25%;
  top: 20%;
  line-height: 1.1vw;
}

.l-msge p{
  font-size: 1vw;
  font-weight: 300;
}

#main {
  position: relative;
  background-color: #151515;
}

#page1 {
  height: 100vh;
  width: 100%;
}

#page1 #navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.9vw 5.5vw;
}

#navbar .logo{
  pointer-events: none;
}

#navbar .nav-text{
  position: absolute;
  top: 6%;
  left: 28%;
  line-height: 1.1vw;
}

.nav-text p{
  font-size: 1vw;
  font-weight: 300;
}


#nav-option{
  display: flex;
  align-items: center;
  gap: 2.4vw;
}

#nav-option h4{
  font-size: 1vw;
  font-weight: 300;
  text-transform: capitalize;
}


.hero{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 72%;
  margin-left: 27%;
  height: fit-content;
  overflow: hidden;
}

.hero:nth-child(3){
  margin-top: 17vh;
}

#page1 h2{
  position: absolute;
  top: 31.2vh;
  left: 19%;
  font-size: 3.3vw;
  font-weight: 500;
  font-family: 'silk serif';
  margin-left: -10px;
}

#page1 .hero h1{
  font-size: 7.5vw;
  line-height: 7.7vw;
  text-transform: uppercase;
  font-weight: 500;
  height: fit-content;
}

.hero h1 span{
  display: inline-block;
  height: fit-content;
  border-bottom: 0.6vw solid #fff;
  margin-right: 0.3vw;
  position: relative;
  z-index: 99999;
}

.hero h1 span:hover{
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  border-bottom: 0;
  transition: 0.2s ease;
}

.hero:nth-child(6){
  margin-top: -0.8vw;
}